.DS_Store
assignment1/issue_LUCENE
assignment1/.ipynb_checkpoints

dataset_creation/lucene/Lucene/issue_LUCENE
dataset_creation/lucene/Lucene/lucene-solr
dataset_creation/lucene/.ipynb_checkpoints
.Rhistory
