.DS_Store
.gitignore~
assignment1/issue_LUCENE
assignment1/.ipynb_checkpoints

.Rhistory
bug_dict.csv


dataset_creation/camel/camel
dataset_creation/lucene/lucene-solr
dataset_creation/zookeeper/zookeeper
dataset_creation/maven/maven
dataset_creation/mahout/mahout

dataset_creation/.ipynb_checkpoints

dataset_creation/camel/issue_CAMEL
dataset_creation/lucene/issue_LUCENE
dataset_creation/lucene/issue_SOLR
dataset_creation/maven/issue_MNG
dataset_creation/mahout/issue_MAHOUT
dataset_creation/zookeeper/issue_ZOOKEEPER

dataset_creation/out

dataset_creation/R/tests.R
dataset_creation/R/.Rhistory

*_diff_file.txt
*_blame_file.txt
*_time_bug.txt
*_time_fix.txt
