.DS_Store
.gitignore~
assignment1/issue_LUCENE
assignment1/.ipynb_checkpoints

.Rhistory
bug_dict.csv


dataset_creation/camel/camel
dataset_creation/lucene/lucene-solr
dataset_creation/hadoop/hadoop

dataset_creation/camel/.ipynb_checkpoints
dataset_creation/hadoop/.ipynb_checkpoints
dataset_creation/lucene/.ipynb_checkpoints
dataset_creation/.ipynb_checkpoints

dataset_creation/camel/issue_CAMEL
dataset_creation/hadoop/issue_HADOOP
dataset_creation/lucene/issue_LUCENE
dataset_creation/lucene/issue_SOLR

dataset_creation/out

*_diff_file.txt
*_blame_file.txt
